openapi: 3.2.0
info:
  title: ServiceM8 REST Staff API
  description: ServiceM8 is field service and job management software for trade and home-service businesses.
  version: '1.0'
  contact:
    name: ServiceM8 Developer
    url: https://developer.servicem8.com
  license:
    name: ServiceM8 API Terms
    url: https://www.servicem8.com/terms
servers:
- url: https://api.servicem8.com/api_1.0
  description: ServiceM8 REST API (object endpoints)
- url: https://api.servicem8.com
  description: ServiceM8 webhook subscription endpoints
security:
- apiKeyAuth: []
- oauth2: []
tags:
- name: Staff
  description: Staff members - technicians and office users.
paths:
  /staff.json:
    get:
      operationId: listStaff
      tags:
      - Staff
      summary: List staff members
      parameters:
      - $ref: '#/components/parameters/Filter'
      responses:
        '200':
          description: An array of staff records.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Staff'
    post:
      operationId: createStaff
      tags:
      - Staff
      summary: Create a staff member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Staff'
      responses:
        '200':
          description: Staff member created.
  /staff/{uuid}.json:
    parameters:
    - $ref: '#/components/parameters/Uuid'
    get:
      operationId: getStaff
      tags:
      - Staff
      summary: Retrieve a staff member
      responses:
        '200':
          description: A single staff record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Staff'
    post:
      operationId: updateStaff
      tags:
      - Staff
      summary: Update a staff member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Staff'
      responses:
        '200':
          description: Staff member updated.
    delete:
      operationId: deleteStaff
      tags:
      - Staff
      summary: Delete a staff member
      responses:
        '200':
          description: Staff member deleted.
components:
  schemas:
    Staff:
      type: object
      properties:
        uuid:
          type: string
        active:
          type: integer
        first:
          type: string
        last:
          type: string
        email:
          type: string
        mobile:
          type: string
        job_title:
          type: string
        security_role_uuid:
          type: string
  parameters:
    Uuid:
      name: uuid
      in: path
      required: true
      description: The UUID of the record.
      schema:
        type: string
    Filter:
      name: $filter
      in: query
      required: false
      description: OData-style filter expression, e.g. `$filter=active eq 1` or `edit gt '2026-01-01'`. Filtering is supported on indexed fields.
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for private/single-account integrations.
    oauth2:
      type: oauth2
      description: OAuth 2.0 for public add-ons. Access tokens expire after 3600 seconds.
      flows:
        authorizationCode:
          authorizationUrl: https://go.servicem8.com/oauth/authorize
          tokenUrl: https://go.servicem8.com/oauth/access_token
          refreshUrl: https://go.servicem8.com/oauth/access_token
          scopes:
            manage_jobs: Read and write jobs
            read_jobs: Read jobs
            manage_customers: Read and write customers (companies)
            read_customers: Read customers (companies)
            manage_staff: Read and write staff
            read_staff: Read staff
            manage_inventory: Read and write materials and inventory
            manage_schedule: Read and write scheduling and job activities
            publish_sms: Send SMS messages
            publish_email: Send email messages
            vendor_logo: Read vendor account information
